/* Estilize o título da carta */
h1 {
    font-family: 'Arial', sans-serif;
    color: #990000; /* Vermelho escuro */
}

/* Estilos gerais */

/* Media Query para telas menores que 600px */
@media (max-width: 600px) {
    /* Estilos para telas menores */
}

/* Outras Media Queries para adaptar estilos a diferentes tamanhos de tela */
@media (max-width: 900px) {
    /* Estilos para telas menores que 900px */
}

/* Estilos para o quebra-cabeça */
.quebracabeca {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define 3 colunas */
    grid-template-rows: repeat(2, 1fr); /* Define 2 linhas */
    grid-gap: 5px; /* Espaço entre as peças */
    width: 60vw; /* Largura do quebra-cabeça */
    margin: 0 auto; /* Centraliza o quebra-cabeça na página */
}

.parte {
    width: calc(100% / 3); /* Largura de cada peça - 3 colunas */
    height: 100px; /* Altura definida */
    background-color: #ccc; /* Cor de fundo */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

/* Estilize o símbolo da Disney no fundo */
body {
    background-image: url('disney.png'); /* Substitua 'disney.png' pelo caminho correto da imagem */
    background-size: 1000px; /* Tamanho do símbolo da Disney */
    background-repeat: no-repeat;
    background-position: center center;
}






